<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary">
  <!-- Brand Logo -->
  <a [routerLink]="'/'" class="brand-link">
    <!-- <img src="./assets/dist/img/AdminLTELogo.png" alt="Ecommerce Logo" class="brand-image img-circle" style="opacity: .8"> -->
    <span class="brand-text font-weight-light">POS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="./assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="info">
        <a class="d-block">{{ user?.usuario?.nombre }}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Buscar..." aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a [routerLink]="'/dashboard'" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/producto'" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Productos
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/ordenes'" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Ordenes
            </p>
          </a>
        </li>



      </ul>
    </nav>
  </div>
</aside>